@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=Lato&display=swap');

body {
    background-image: radial-gradient(circle at top left, #610084 -25%, #c14826 100%);
    display: flex;
    flex-direction: column;
}

body::-webkit-scrollbar {
    display: none;
}

.title-container {
    margin: 10px;
}

h1 {
    color: 	#FAF9F6;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 75pt;
}

h2 {
    color: #FAF9F6;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 50pt;
    font-weight: 400;
}

h3 {
    color: #FAF9F6;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 30pt;
    font-weight: 600;
}

h4 {
    color: #FAF9F6;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 27pt;
    font-weight: 400;
    margin-left: 100px;
    margin-top: 0;
    margin-bottom: 0;
}


#body-container {
    display: flex;
    flex-direction: column;
}

#body-container > * {
    opacity: 0;
}

p {
    color: #FAF9F6;
    font-family: 'Lato', sans-serif;
    font-size: 23pt;
    font-weight: 400;
    margin-left: 100px;
    margin-right: 50px;
}

li {
    color: #FAF9F6;
    font-family: 'Lato', sans-serif;
    font-size: 23pt;
    font-weight: 400;
    margin-left: 100px;
    margin-right: 50px;
}

a {
    color: #FAF9F6;
}

.link-icon {
    margin-top: 10px;
    margin-right: 10px;
}

footer {
    position: sticky;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 400;
}

footer > * {
    margin-left: 0px;
}

#footer-link {
    color: white;
    font-weight: bold;
}

@keyframes blob-3-shape {
    0% {
        border-radius: 50% 50% 81% 19% / 57% 18% 82% 43% ;
    }
    50% {
        border-radius: 28% 72% 78% 22% / 31% 34% 66% 69% ;
    }
    100% {
        border-radius: 50% 50% 81% 19% / 57% 18% 82% 43% ;
    }
}

@keyframes blob-2-shape {
    0% {
        border-radius: 27% 73% 81% 19% / 20% 80% 20% 80% ;
    }
    50% {
        border-radius: 84% 16% 45% 55% / 80% 67% 33% 20% ;
    }
    100% {
        border-radius: 27% 73% 81% 19% / 20% 80% 20% 80% ;
    }
}

@keyframes blob-1-shape {
    0% {
        border-radius: 84% 16% 83% 17% / 77% 30% 70% 23% ;
    }
    50% {
        border-radius: 40% 60% 44% 56% / 66% 78% 22% 34% ;

    }
    100% {
        border-radius: 84% 16% 83% 17% / 77% 30% 70% 23% ;
    }
}

#blob-1 {
    position: absolute;
    top: 64px;
    left: 100px;
    z-index: -1;
    animation: blob-1-shape 7s linear infinite;
    width: 250px;
    height: 250px;
    background-image: linear-gradient(45deg, rgb(47, 110, 57), rgb(90, 171, 225))
}

#blob-2 {
    position: absolute;
    top: 214px;
    right: 100px;
    z-index: -1;
    animation: blob-2-shape 7s linear infinite;
    border: none;
    width: 250px;
    height: 250px;
    background-image: linear-gradient(30deg, rgb(255, 248, 37), rgb(241, 53, 53))
}

#blob-3 {
    position: absolute;
    z-index: -1;
    top: 414px;
    left: 500px;
    animation: blob-3-shape 7s linear infinite;
    border: none;
    width: 250px;
    height: 250px;
    background-image: linear-gradient(75deg, rgb(151, 9, 149), rgb(90, 193, 225))
}


#blob-4 {
    position: absolute;
    top: 926px;
    right: 150px;
    z-index: -1;
    animation: blob-1-shape 7s linear infinite;
    width: 250px;
    height: 250px;
    background-image: linear-gradient(45deg, rgb(47, 110, 57), rgb(90, 171, 225))
}

#blob-5 {
    position: absolute;
    top: 1500px;
    left: 600px;
    z-index: -1;
    animation: blob-2-shape 7s linear infinite;
    border: none;
    width: 250px;
    height: 250px;
    background-image: linear-gradient(30deg, rgb(255, 248, 37), rgb(241, 53, 53))
}

#blob-6 {
    position: absolute;
    z-index: -1;
    top: 2300px;
    right: 40px;
    animation: blob-3-shape 7s linear infinite;
    border: none;
    width: 250px;
    height: 250px;
    background-image: linear-gradient(75deg, rgb(151, 9, 149), rgb(90, 193, 225))
}